/*Using IBM Plex Serif font for the entire site*/
body {
    font-family: 'IBM Plex Serif', serif;
}

/* Style for the container div */
#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

/* Style for the heading tags */
h1, h2, h3, h4 {
    background-color: #BAD9BB;
    color:rgb(28, 55, 30);
    border: 1px solid #D6A800;
    padding: 10px;
}

/* Default style for Anchor tags */
a {
    color: #2C5E4F;
    text-decoration: none;
}

/* Anchor tag hover effect */
a:hover {
    color: #4B8B71;
}

/* Visited Anchor tag style */
a:visited {
    color: #9885AB;
}